header 
    .header 
        img(src="./../imgs/logoEsa.png", alt="", srcset="")
        .header-content 
            .content-title INDUSTRIAL AUTONOMOUS MOBILE ROBOTS SOLUTION
            .content-body Intelligent - Efficient - Flexible - Customizable    